site_name: Test Docs
repo_url: https://github.com/kurinoshun/test-docs
theme:
  name: material
  language: ja

markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - codehilite
  - footnotes
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.tabbed
plugins:
  - search
